html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333B41;
}

.container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

/* header
================================ */

.header__link {
    color: #fff;
    text-decoration: none;
    transition: color .1s linear;
}

.header__link:hover {
    color: #FE9013;
}

.header__link:active {
    color: #FE9013;
}
.header__logo {
    position: relative;
    font-size: 19px;
    font-weight: 400;
    text-align: center;
    border: 1px solid #fff;
    padding: 5px;
    transition: color, border .1s linear;
    cursor: pointer;
}

.bamboo__logo {
    position: absolute;
    bottom: 7px;
    left: 13px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    height: 80px;
}

.header__section {
    display: flex;
    align-items: center;
}

.header__item {
    padding: 0 50px;
}