.create-panel,
.update-panel,
.button-panel {
  display: flex;
  gap: 5px;
}
.control-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  width: 150px;
  height: 30px;
  border: 1px solid black;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}

.numbers-of-cars,
.number-winners {
  margin-top: 40px;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1px;
}

.curretn-page {
  margin: 25px 0;
  font-size: 22px;
  font-weight: 500;
}

.garage {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.garage__item {
  &-panel {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
  }

  &-race {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px grey dashed;
  }

  &-stop,
  &-start {
    border: 1px solid black;
    padding: 5px 10px;
    transition: background-color .2s linear;

    &:hover {
      cursor: pointer;
      background-color: rgb(195, 196, 195);
    }
  }

  &-track {
    position: relative;
    --track-width: 100%;
    width: var(--track-width);
    transition: transform 2s linear;
  }

  &-finish {
    position: absolute;
    bottom: 0;
    right: 110px;
    background-color: red;
    width: 5px;
    height: 20px;
  }
}

.create-panel__create-color,
.update-panel__update-color {
  border: 1px solid black;
  height: 30px;
}

.create-panel__create-input,
.update-panel__update-input {
  border: 1px solid black;
}

.winner {
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 2;
  text-align: center;
  font-weight: 700;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-panel {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  justify-content: center;
}