.footer {
  background: linear-gradient(0deg, rgba(19, 19, 20, 1) 20%, rgba(12, 36, 33, 1) 47%,
      rgba(9, 43, 39, 1) 66%, rgba(8, 50, 45, 1) 78%, rgba(7, 59, 53, 1) 87%,
      rgba(8, 68, 61, 1) 93%, rgba(7, 77, 68, 1) 96%, rgba(13, 116, 104, 1) 100%,
      rgba(16, 156, 140, 1) 100%);
  font-family: $MAIN_FONT;
  padding-top: 20px;

  &__inner {
    height: 220px;
    display: flex;
    justify-content: space-between;
  }

  &__services {
    width: 20%;
  }

  &__about {
    width: 40%;
  }

  &__about-sub {
    margin: 20px 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.3;
    color: $SUB_COLOR_FONTS;
  }

  &__year {
    margin: 10px 0;
    color: $SUB_COLOR_FONTS;
  }

}

.play {
  &__title {
    font-family: $MAIN_FONT_SUB;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  &__btn {
    margin-top: 10px;
    width: 180px;
    height: 45px;
    border-radius: 45px;
    font-family: $MAIN_FONT;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    color: $MAIN_COLOR_PAGE;
    background: white;
    border: 0;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;

    &:hover {
      cursor: pointer;
      background: $MAIN_COLOR_ACTIVE;
      box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
      color: white;
      transform: translateY(-7px);
    }
  }
}

.services {
  &__title {
    font-size: 21px;
    margin-bottom: 25px;
  }

  &__link {
    text-decoration: none;
    color: $SUB_COLOR_FONTS;
    transition: color .2s linear;

    &:hover {
      color: white;
    }
  }

  &__between-links {
    margin-bottom: 30px;
  }
}

.social {

  &__links {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    width: 30px;
  }
}

.rs-school {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    width: 50%;
  }
}

@media (max-width: 735px) {
.footer__play {
  display: none;
}
}

@media (max-width: 540px) {
  .footer {
    height: 200px;
  }

  .footer__play {
    display: none;
  }

  .footer__about {
    margin-right: 20px;
  }
}

@media (max-width: 540px) {
  .footer__about {
    display: none;
  }

  .footer__services {
    display: none;
  }

  .services__title {
    display: none;
  }

  .footer__social {
    padding-top: 20px;
    width: 100%;
  }
}