.gallery {
  &__inner {
    position: relative;
    width: 98%;
    padding: 40px 0 20px 0;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 20px;
      background: $MAIN_COLOR_FONTS;
    }

    &::-webkit-scrollbar-thumb {
      width: 180px;
      background: $MAIN_COLOR_ACTIVE;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #0e7d70;
    }
  }

  &__img {
    width: auto;
    height: 300px;
    margin-right: 10px;
    border-radius: 10px;

    &:hover {
      cursor: pointer;
      opacity: .8;
    }

    &:first-child {
      margin-left: 10px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

body {
  position: relative;
}

.popup {
  padding: 20px 0;
  width: 800px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 300;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: $MAIN_COLOR_PAGE;
  font-family: $MAIN_FONT;

  &__back {
    position: absolute;
    display: none;
    top: 0;
    z-index: 220;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.604);
  }

  &__x {
    position: fixed;
    top: 60px;
    right: 10px;
    font-size: 55px;
    font-family: $MAIN_FONT;

    &:hover {
      cursor: pointer;
    }
  }

  &__img {
    height: 300px;
  }

  &__title {
    padding-top: 10px;
    text-align: center;
    font-size: 32px;
    letter-spacing: 2px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid $SUB_COLOR_FONTS;
  }

  &__sub-title {
    text-align: center;
    letter-spacing: 2px;
    color: $SUB_COLOR_FONTS;
    margin-bottom: 40px;
  }

  &__about-bird {
    display: flex;
  }

  &__text {
    width: 200px;
    margin-left: 20px;
    font-weight: 300;
    line-height: 1.4;
    word-wrap: break-word;
  }
}

@media (max-width: 540px) {
  .gallery__inner {
    margin-top: 20px;
  }
}

@media (max-width: 460px) {
  .gallery__img {
    width: auto;
    height: 215px;
  }
}

@media (max-width: 673px) {
  .popup {
    width: 600px;
    height: 600px;
  }

  .popup__about-bird {
    flex-direction: column;
    align-items: center;
  }

  .popup__text {
    text-align: center;
    width: 80%;
  }
}

@media (max-width: 520px) {
  .popup {
    width: 360px;
    height: 600px;
  }

  .popup__img {
    height: 200px;
}

  .popup__text {
    text-align: center;
    width: 85%;
  }
}